{% extends "base.html" %}
{% load i18n static %}
{% load static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1"> {% trans "decide" %}</b-navbar-brand>
        </b-navbar>

        <div v-if="voting.question.multioption" class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Preferencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            
                                <th>[[ opt.option ]]</th>
                                <td>[[ opt.order ]]º</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div v-if="!voting.question.multioption" class="voting container">
            <div class="voting container">
                <h1>{% trans "vID" %}: [[ voting.id ]] </h1>
                <h1>{% trans "vName" %}: [[ voting.name ]]</h3>
                
                <h3>Descripción de la votación: [[ voting.desc ]]</h2>
                <h4 class="inicio" v-if="voting.start_date">Fecha de inicio de la votación: [[ startDate ]]</h3>

                <h2 v-if="!voting.start_date">{% trans "nonstarted" %}</h2>
                <h2 v-else-if="!voting.end_date">{% trans "running" %}</h2>
                <div v-else>
                    <h4 class="fin">Fecha de fin de la votación: [[ endDate ]]</h3>
                    <br>
                    <h2 class="heading"> {% trans "results" %}</h2>

                    <div v-if="voting.seats!=0">
                        <h3>Número de escaños a repartir: [[ voting.seats ]]</h3>
                        <h3 class="minPercentage">Porcentaje mínimo para tener representación: [[ voting.min_percentage_representation ]]% de los votos totales</h3>
                        <p> El cálculo en el reparto de escaños esta basado en la Ley D'Hont, en la cual se ignoran las candidaturas con menos del mínimo porcentaje necesario de votos totales, además en caso de empate en el reparto de un escaño, este será dado al candidato con más votos totales obtenidos</p>
                    </div>

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>{% trans "option" %}</th>
                                <th v-if="voting.seats!=0">Escaños</th>
                                <th v-if="voting.seats==0">{% trans "points" %}</th>
                                <th>{% trans "votes" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="opt in voting.postproc" :key="opt.number">
                                <th class="opciones">[[opt.option]]</th>
                                <td class="resultados" v-if="voting.seats!=0">[[opt.seats]]</td>
                                <td class="resultados" v-if="voting.seats==0">[[opt.postproc]]</td>
                                <td class="votos" class="text-muted">[[opt.votes]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </br>
                <div>
                    <h2 class="heading">Gráficas de la votación:</h2>  

                    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                        
                            <h5>Grafica 1</h5> 
                            <canvas id="Graph1"></canvas>
                            <h5>Grafica 2</h5> 
                            <canvas id="Graph2"></canvas>
                            <h5>Grafica 3</h5> 
                            <canvas id="Graph3"></canvas>
                        
                    </div>     
                            
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@2.7.10"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        var voting = {{voting|safe}};
        var newDateOptions = {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
            };
        var startDate = new Date(voting.start_date).toLocaleString("es", newDateOptions);
        var endDate = new Date(voting.end_date).toLocaleString("es", newDateOptions);
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting,
                startDate: startDate,
                endDate: endDate,
            }
        })
    </script> 
    <script src="{% static 'graph.js' %}"></script>
</body>
{% endblock %}
