{% extends "base.html" %}
{% load i18n static %}


{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-booth">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">{% trans "decide" %}</b-navbar-brand>
                <b-navbar-nav class="ml-auto" v-if="!signup">
                    <b-nav-item href="#" v-on:click="decideLogout">
                        {% trans "logout" %}
                    </b-nav-item>
                </b-navbar-nav>
        </b-navbar>

        <b-alert :variant="alertLvl" dismissible v-model="alertShow">
            [[ alertMsg ]]
        </b-alert>

        <div class="voting">
            <h1>{% trans "vID" %}: [[ voting.id ]] </h1>
            <h3>{% trans "vName" %}: [[ voting.name ]]</h3>


            <!-- Register -->
            <b-form @submit="onSubmitLogin" v-if="signup">
                <b-form-group label="{% trans "Username" %}" label-for="username">
                    <b-form-input
                        id="username"
                        type="text"
                        v-model="form.username"
                        autocomplete="username"
                        required />
                </b-form-group>
                <b-form-group label="{% trans "Password" %}" label-for="password">
                    <b-form-input
                        id="password"
                        type="password"
                        autocomplete="current-password"
                        v-model="form.password"
                        required />
                </b-form-group>
                <br>
                    <b-button type="submit" variant="primary">{% trans "Login" %}</b-button>
            </b-form>
            <!--LOGIN CON GITHUB-->

            {% if not user.is_authenticated and not user.is_staff %}
            <h2>{% trans "or" %}</h2>
            <a id='githubButton' v-if="signup" href="{% url 'social:begin' 'github' %}?next={{ request.path }}" class="btn btn-secondary">
                <span>{% trans "LoginGitHub" %}</span>
            </a>

            <a id='twitterButton' v-if="signup" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-secondary">
                <span>{% trans "LoginTwitter" %}</span>
            </a>

            {% elif not user.is_staff %}
            <p v-if="signup">{% trans "register_as_1" %}{{user.social_auth.get.provider}} {% trans "register_as_2" %} {{user}}</p>
            <b-button type="button" variant="primary" v-if="signup" v-on:click="getSocialAuthUser">
                {% trans "vote_with" %} {{user.social_auth.get.provider}}
            </b-button>
            <a id='logoutButton' href="/booth/logout" v-if="signup" class="btn btn-danger">
                <span>{% trans "logoutFrom" %}{{user.social_auth.get.provider}}</span>
            </a>
            {% endif %}


            <!-- Voting -->
            <div v-if="!signup">
                <div v-if="!voting.question.multioption">
                    <h2>[[ voting.question.desc ]]</h2>
                    <b-form-group v-for="opt in voting.question.options" :key="opt.number">
                        <b-form-radio v-model="selected"
                                    :id="'q' + opt.number"
                                    name="question"
                                    :value="opt.number">
                            [[ opt.option ]]
                        </b-form-radio>
                    </b-form-group>
                    <b-button type="button" variant="primary" v-on:click="decideSend">
                        {% trans "Vote" %}
                    </b-button>
                </div>
                <div v-if="voting.question.multioption">
                    <h2>[[ voting.question.desc ]]</h2>
                    <b-form-group v-for="opt,i in voting.question.options" :key="opt.number">
                        {% trans "Question number " %}[[i+1]] : [[opt.option]]
                    </b-form-group>
                    <b-form-input v-model="order" placeholder="Enter priority for this questions. Example: 123. That means option 1 has more priority than 2 and that 3" required></b-form-input>
                    <b-button type="button" variant="primary" v-on:click="decideSendMultioption">
                        {% trans "Vote" %}
                    </b-button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- needed to generate big random -->
    <script src="{% static "crypto/sjcl.js" %}"></script>

    <!-- Big integer -->
    <script src="{% static "crypto/jsbn.js" %}"></script>
    <script src="{% static "crypto/jsbn2.js" %}"></script>
    <script src="{% static "crypto/bigint.js" %}"></script>

    <!-- ElGamal encrypt -->
    <script src="{% static "crypto/elgamal.js" %}"></script>

    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@2.7.10"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-booth',
            data: {
                keybits: {{ KEYBITS }},
                voting: voting,
                selected: "",
                signup: true,
                alertShow: false,
                alertMsg: "",
                alertLvl: "info",
                token: null,
                user: null,
                form: {
                    username: '',
                    password: ''
                },
                bigpk: {
                    p: BigInt.fromJSONObject(voting.pub_key.p.toString()),
                    g: BigInt.fromJSONObject(voting.pub_key.g.toString()),
                    y: BigInt.fromJSONObject(voting.pub_key.y.toString()),
                }
            },
            beforeMount() {
                this.init()
                ElGamal.BITS = this.keybits;
            },
            methods: {
                init() {
                    var cookies = document.cookie.split("; ");
                    cookies.forEach((c) => {
                        var cs = c.split("=");
                        if (cs[0] == 'decide' && cs[1]) {
                            this.token = cs[1];
                            this.getUser();
                        }
                    });
                },
                postData(url, data) {
                    // Default options are marked with *
                    var fdata = {
                        body: JSON.stringify(data),
                        headers: {
                            'content-type': 'application/json',
                        },
                        method: 'POST',
                    };

                    if (this.token) {
                        fdata.headers['Authorization'] = 'Token ' + this.token;
                    }

                    return fetch(url, fdata)
                        .then(response => {
                            if (response.status === 200) {
                                return response.json();
                            } else {
                                return Promise.reject(response.statusText);
                            }
                        });
                },
                onSubmitLogin(evt) {
                    evt.preventDefault();
                    this.postData("{% url "gateway" "authentication" "/login/" %}", this.form)
                        .then(data => {
                            document.cookie = 'decide='+data.token+';';
                            this.token = data.token;
                            this.getUser();
                        })
                        .catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                getUser(evt) {
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/getuser/" %}", data)
                        .then(data => {
                            this.user = data;
                            this.signup = false;
                        }).catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                decideLogout(evt) {
                    evt.preventDefault();
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/logout/" %}", data);
                    this.token = null;
                    this.user = null;
                    document.cookie = 'decide=;';
                    this.signup = true;
                },
                decideEncrypt() {
                    var bigmsg = BigInt.fromJSONObject(this.selected.toString());
                    var cipher = ElGamal.encrypt(this.bigpk, bigmsg);
                    return cipher;
                },
                decideEncryptMultioption() {
                    var bigmsg = BigInt.fromJSONObject(this.order.toString());
                    var cipher = ElGamal.encrypt(this.bigpk, bigmsg);
                    return cipher;
                },
                decideSend(evt) {
                    evt.preventDefault();
                    var v = this.decideEncrypt();
                    var data = {
                        vote: {a: v.alpha.toString(), b: v.beta.toString()},
                        voting: this.voting.id,
                        voter: this.user.id,
                        token: this.token
                    }
                    this.postData("{% url "gateway" "store" "/" %}", data)
                        .then(data => {
                            this.showAlert("success", '{% trans "Conglatulations. Your vote has been sent" %}');
                        })
                        .catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                decideSendMultioption(evt) {
                    if (this.order.toString().length < this.voting.question.options.length || this.order.toString().length == null) {
                        this.showAlert("danger", '{% trans "Please input the order of your selection (remember that the input must be a sequence of all question numbers at your preferred order" %}');
                        return;
                    } else if (this.order.toString().length > this.voting.question.options.length) {
                        this.showAlert("danger", '{% trans "Please input the order of your selection (You introduce too much values" %}');
                        return;
                    }

                    function checkIfDuplicateExists(arr) {
                        return new Set(arr).size !== arr.length
                    }

                    for (var i = 0; i < this.order.toString().length; i++) {
                        if (this.order.toString().charAt(i) > this.voting.question.options.length || this.order.toString().charAt(i) <= 0) {
                            this.showAlert("danger", '{% trans "Invalid Values (You introduced selection that contain invalid question number)" %}');
                            return;
                        }
                    }
                    var duplicates = checkIfDuplicateExists(this.order.toString())
                    if (duplicates) {
                        this.showAlert("danger", '{% trans "Duplicated Values (the preferred order must not use duplicated question numbers)" %}');
                        return;
                    }
                    evt.preventDefault();
                    var v = this.decideEncryptMultioption();
                    var data = {
                        vote: {a: v.alpha.toString(), b: v.beta.toString()},
                        voting: this.voting.id,
                        voter: this.user.id,
                        token: this.token
                    }
                    this.postData("{% url "gateway" "store" "/" %}", data)
                        .then(data => {
                            this.showAlert("success", '{% trans "Conglatulations. Your selection has been sent" %}');
                        })
                        .catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                showAlert(lvl, msg) {
                    this.alertLvl = lvl;
                    this.alertMsg = msg;
                    this.alertShow = true;
                },
                getSocialAuthUser() {
                    this.signup = false;
                    var un = "{{ user.username }}";
                    var pw = "{{ randomPassword }}";
                    this.form = {username : un, password : pw};
                    this.postData("{% url "gateway" "authentication" "/login/" %}", this.form)
                        .then(data => {
                            console.log(this.form)
                            document.cookie = 'decide='+data.token+';';
                            this.token = data.token;
                            this.getUser();
                        })
                        .catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                }
            },
        })
    </script>
</body>
{% endblock %}
