{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-census">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">{% trans "decide" %}</b-navbar-brand>
        </b-navbar>     
        

         <!-- IMPORT  -->

        <div class="manage-container">
            <h2> {% trans "administration_census" %}</h2>
            
            <form method="POST" enctype="multipart/form-data">
               
            <label for="votation">{% trans "add_census_question" %}</label>
            <input id="votation" type="text" name="votation">
            <br>

            <label for="file">{% trans "select_file" %}</label>
            <input id='file' type="file" name="file">
            <br>

            <label for="user">{% trans "input_user_admin" %}</label>
            <input type="text" name="user">
            <br>
            
            <label for="password">{% trans "input_user_admin_password" %}</label>
            <input type="password" name="password">
            
            <br>
            <input id ='submitButton'type="submit" value="OK">       
            </form>

        </div>

    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@2.7.10"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</body>
{% endblock %}
